.start-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2e5e5;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-page h1 {
    margin-top: 3%;
}

.slide-in {
    animation: ease slideIn 0.75s;
}

.slide-out {
    animation: ease slideOut 0.75s;
}

/* Start Button */
#start {
    margin-top: 15%;
    height: 7%;
    width: 14%;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #efefef;
}

#start:hover {
    cursor: pointer;
    background-color: #e6d7d7;
    transition-duration: 0.15s;
}

#start:active {
    background-color: #cfb6b6;
}

/* Each player container for 3 buttons */
.players-container {
    display: flex;
    justify-content: center;
    width: 80%;
}

label {
    display: flex;
    justify-content: center;
    width: 100%;
}

.radio-button {
    display: flex;
    width: 40%;
    justify-content: center;
}

/* Container for radio, label, image */
.img-container {
    display: flex;
    justify-content: center;
    width: 70%;
}

.img-container input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

img {
    aspect-ratio: 1;
    cursor: pointer;
    width: 75%;
    margin: 8px;
    border-radius: 5px;
    border: 2px solid rgb(139, 138, 138);
}

img:hover {
    box-shadow: 0px 0px 10px 3px rgb(90, 90, 90);
}

/* When radio is checked, style image */
.radio:checked+label img {
    transition-duration: 0.05s;
    box-shadow: 0 0 8px 15px #f4aab9;
}

/* Container for each player text and radio */
.container-both {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes slideIn {
    0% {
        translate: 0 -200%;
    }

    100% {
        translate: 0;
    }
}

@keyframes slideOut {
    0% {
        translate: 0;
    }

    100% {
        translate: 0 -200%;
    }
}